*{
  box-sizing: border-box;
  padding: 0;
  margin:  0;
  background-color: rgba(4, 42, 67, 1);
  color: #FFFFFF;
}

.heading{
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
}
.count{
  font-size: 50px;
  text-align: center;
  margin-top: 3rem
}
#btn{
  text-transform: uppercase;
  margin-top: 10rem;
  font-size: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
}